[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/sjl/oh-my-zsh.git
[submodule ".vim/bundle/stylus.vim"]
	path = .vim/bundle/stylus.vim
	url = git://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/nu.vim"]
	path = .vim/bundle/nu.vim
	url = git://github.com/itfrombit/nuvim.git
[submodule ".vim/bundle/css-color.vim"]
	path = .vim/bundle/css-color.vim
	url = git://github.com/gf3/vim-css-color.git
[submodule ".vim/bundle/racket.vim"]
	path = .vim/bundle/racket.vim
	url = git://github.com/wlangstroth/vim-racket.git
