[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/sjl/oh-my-zsh.git
[submodule ".vim/bundle/stylus.vim"]
	path = .vim/bundle/stylus.vim
	url = git://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/nu.vim"]
	path = .vim/bundle/nu.vim
	url = git://github.com/itfrombit/nuvim.git
[submodule ".vim/bundle/css-color.vim"]
	path = .vim/bundle/css-color.vim
	url = git://github.com/gf3/vim-css-color.git
[submodule ".vim/bundle/racket.vim"]
	path = .vim/bundle/racket.vim
	url = git://github.com/wlangstroth/vim-racket.git
[submodule ".vim/bundle/coffeescript.vim"]
	path = .vim/bundle/coffeescript.vim
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/jade.vim"]
	path = .vim/bundle/jade.vim
	url = git://github.com/vim-scripts/jade.vim.git
[submodule ".vim/bundle/rainbow_parenthesis.vim"]
	path = .vim/bundle/rainbow_parenthesis.vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/gist.vim"]
	path = .vim/bundle/gist.vim
	url = git://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/haml.vim"]
	path = .vim/bundle/haml.vim
	url = git://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/fish.vim"]
	path = .vim/bundle/fish.vim
	url = git://github.com/vim-scripts/fish.vim.git
[submodule ".vim/bundle/javascript.vim"]
	path = .vim/bundle/javascript.vim
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/ruby.vim"]
	path = .vim/bundle/ruby.vim
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/handlebars.vim"]
	path = .vim/bundle/handlebars.vim
	url = git://github.com/nono/vim-handlebars.git
[submodule ".vim/bundle/nerdcommenter.vim"]
	path = .vim/bundle/nerdcommenter.vim
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/rails.vim"]
	path = .vim/bundle/rails.vim
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/repeat.vim"]
	path = .vim/bundle/repeat.vim
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/surround.vim"]
	path = .vim/bundle/surround.vim
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/indent-guides.vim"]
	path = .vim/bundle/indent-guides.vim
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/scala.vim"]
	path = .vim/bundle/scala.vim
	url = git://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/slim.vim"]
	path = .vim/bundle/slim.vim
	url = git://github.com/slim-template/vim-slim.git
[submodule ".vim/bundle/tabular.vim"]
	path = .vim/bundle/tabular.vim
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/markdown.vim"]
	path = .vim/bundle/markdown.vim
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/misc.vim"]
	path = .vim/bundle/misc.vim
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/notes.vim"]
	path = .vim/bundle/notes.vim
	url = https://github.com/xolox/vim-notes.git
[submodule ".vim/bundle/airline.vim"]
	path = .vim/bundle/airline.vim
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/rspec.vim"]
	path = .vim/bundle/rspec.vim
	url = git@github.com:thoughtbot/vim-rspec.git
