[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/sjl/oh-my-zsh.git
[submodule ".vim/bundle/stylus.vim"]
	path = .vim/bundle/stylus.vim
	url = git://github.com/wavded/vim-stylus.git
