[user]
  name  = Gianni Chiappetta
  email = gianni@runlevel6.org

[alias]
  br  = branch
  ci  = commit
  co  = checkout
  df  = diff
  g   = grep -I
  lg  = log -p
  loq = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  pb  = publish-branch
  rb  = rbranch
  rc  = rank-contributors
  rv  = review
  sm  = show-merges
  st  = status

[branch]
  autosetuprebase = always

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow 
  frag = magenta 
  old  = red 
  new  = green 

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[diff]
  tool = Kaleidoscope

[diff "exif"]
  textconv = exiftool

[difftool]
  prompt = false

[merge]
  log = true

[push]
  default = simple

[rerere]
  enabled = 1

[url "git@github.com:"]
  insteadOf     = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf     = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git@heroku.com:"]
  insteadOf = "heroku:"

