[user]
  name  = Gianni Chiappetta
  email = gianni@runlevel6.org
  signingkey = FD8942A7CBA94FD3

[alias]
br   = branch
; Example: g ch master...staging
ch   = log --cherry --pretty=format:\"%C(auto)%h (%ar) %an: %s\" --date-order --reverse
ci   = commit
co   = checkout
df   = diff
g    = grep -I
lg   = log -p
loq  = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
st   = status
find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep

[branch]
autosetuprebase = always

[color]
ui = auto

[color "branch"]
current = yellow reverse
local   = yellow
remote  = green

[color "diff"]
meta = yellow
frag = magenta
old  = red
new  = green

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[push]
  default = simple

[rerere]
  enabled = 1

[commit]
  gpgsign = true

[protocol]
  version = 2

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[init]
	defaultBranch = main
[github]
	user = gf3
