/* === GLOBAL SETTINGS === */

* {
   font-size: 13px;
   font-family: sans-serif;
}

#waybar {
  background-color: @theme_bg_color;
  color: @theme_text_color;
}

/* === MODULES === */

.modules-left,
.modules-center,
.modules-right {
  margin: 4px 8px;
}

/* === WORKSPACES === */

#workspaces {
  margin: 0;
}

#workspaces button {
  padding: 4px 8px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    color: @theme_unfocused_selected_fg_color;
}

#workspaces button.focused {
  background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

#workspaces button.urgent {
    color: @theme_warning_color;
}

/* === WINDOW === */

#window {
  color: @wm_title;
}

/* === TASKBAR === */

#taskbar {
  background-color: transparent;
  font-size: 15px;
  border-radius: 15px;
  margin-right: 7;
}

#taskbar button {
	border-radius: 0px;
  margin: 0;
	padding: 0 8 0 8;
  background-color: transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

#taskbar button.active {
    color: #81a1c1;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #81a1c1;
}

#taskbar button.minimized {
    color: #7c818c;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #7c818c;
}

#taskbar button:hover {
    box-shadow: inherit;
    color: #5e81ac;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #5e81ac;
}

/* WIDGETS */

#cpu, #idle_inhibitor, #custom-media, #clock, #custom-pacman, #memory, #backlight, #disk, #network, #pulseaudio, #custom-weather, #temperature, #mpd {
  margin-left: 0;
  margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
