/*------------------------------------------------------------------------------
  @group Wiki Styles
------------------------------------------------------------------------------*/
html {
  background-color: #FFF;
}

body {
  margin: 20px auto;
  padding: 0.7em;
  width: 900px;
  border: 1px solid #E9E9E9;
  background:#f8f8f8;
  /* font-size: 62.5%;
   * font-family: Helvetica !important; */
  font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  border: 0 !important;
}

h1 {
  font-size: 170% !important;
  border-top: 4px solid #aaa !important;
  padding-top: .5em !important;
  margin-top: 1.5em !important;
}

  h1:first-child {
    margin-top: 0 !important;
    padding-top: .25em !important;
    border-top: none !important;
  }

h2 {
  font-size: 150% !important;
  margin-top: 1.5em !important;
  border-top: 4px solid #e0e0e0 !important;
  padding-top: .5em !important;
}

h3 {
  margin-top: 1em !important;
}

p {
  margin: 1em 0 !important;
  line-height: 1.5em !important;
}

ul {
  margin: 1em 0 1em 2em !important;
}

  ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

ol {
  margin: 1em 0 1em 2em !important;
}

  ol ol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

blockquote {
  margin: 1em 0 !important;
  border-left: 5px solid #ddd !important;
  padding-left: .6em !important;
  color: #555 !important;
}

dt {
  font-weight: bold !important;
  margin-left: 1em !important;
}

dd {
  margin-left: 2em !important;
  margin-bottom: 1em !important;
}

table {
  margin: 1em 0 !important;
}

  table th {
    border-bottom: 1px solid #bbb !important;
    padding: .2em 1em !important;
  }

  table td {
    border-bottom: 1px solid #ddd !important;
    padding: .2em 1em !important;
  }

pre {
  margin: 1em 0 !important;
  font-size: 90% !important;
  background-color: #f8f8ff !important;
  border: 1px solid #dedede !important;
  padding: .5em !important;
  line-height: 1.5em !important;
  color: #444 !important;
  overflow: auto !important;
}

  pre code {
    padding: 0 !important;
    font-size: 100% !important;
    background-color: #f8f8ff !important;
    border: none !important;
  }

code {
  font-size: 90% !important;
  background-color: #f8f8ff !important;
  color: #444 !important;
  padding: 0 .2em !important;
  border: 1px solid #dedede !important;
}

/* console */

pre.console {
  margin: 1em 0 !important;
  font-size: 90% !important;
  background-color: black !important;
  padding: .5em !important;
  line-height: 1.5em !important;
  color: white !important;
}

  pre.console code {
    padding: 0 !important;
    font-size: 100% !important;
    background-color: black !important;
    border: none !important;
    color: white !important;
  }

  pre.console span {
    color: #888 !important;
  }

  pre.console span.command {
    color: yellow !important;
  }

/* @end */
