/***** SUGGESTED TO CHANGE CAREFULLY *****/

/* Recommended if panel "height"  unset or smaller then your theme default button height */
button {
    margin: 2px
}

/* WindowBox in SwayTaskBar is a custom widget, that needs this and the next name
   to highlight currently focused task */
#task-box {
    padding-left: 4px;
    padding-right: 4px
}
#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px
}


/***** MODIFY TO YOUR TASTE *****/

/* Sample button in sample config w/ no background nor border */
#button-custom {
    background: rgba (0, 0, 0, 0.0);
    border: 0
}

/* Top panel in sample config uses this name */
#panel-top {
    background-color: @bg_color;
}

/* Bottom panel in sample config uses this name */
#panel-bottom {
    background-color: @bg_color;
}

/* Controls window in sample config uses this name */
#controls-window {
    border-radius: 15px;
    background-color: @bg_color;
}

/* Executors usually behave better in monospace fonts */
#executor-label {
    font-family: monospace
}

/* and so does the Clock */
#clock {
}

/* Sample executor-weather uses "css-name": "weather" */
#weather {
}
